debian/debhelper-build-stamp
debian/autoreconf.*
debian/files
debian/gxkb.debhelper.log
debian/gxkb.substvars
debian/gxkb
Makefile.in
Makefile
aclocal.m4
compile
configure
install-sh
missing
config.log
config.status
autom4te.cache/
data/Makefile.in
data/flags/Makefile.in
data/Makefile
data/flags/Makefile
depcomp
doc/Makefile.in
doc/Makefile
man/Makefile
man/Makefile.in
src/Makefile.in
src/config.h.in
src/.deps/
src/Makefile
src/config.h
src/stamp-h1
src/gxkb
src/*.o
*.*~
*.diff
*.tar.gz
