Source: gxkb
Priority: optional
Section: x11
Maintainer: Dmitriy Poltavchenko <poltavchenko.dmitriy@gmail.com>
Uploaders: Dmitriy Poltavchenko <poltavchenko.dmitriy@gmail.com>
Build-Depends: libgtk2.0-0 ( >= 2.12.0 ),
  libxklavier16 ( >= 3.0 ), libwnck22 ( >= 2.22.0 ),
  libgtk2.0-dev, libxklavier-dev (>= 5.0), libwnck-dev,
  libayatana-appindicator-dev, debhelper (>= 12), dh-make, dh-autoreconf
Standards-Version: 4.5.0
Homepage: https://zen-tools.github.io/gxkb
Vcs-Git: https://github.com/zen-tools/gxkb.git
Vcs-Browser: https://github.com/zen-tools/gxkb

Package: gxkb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 keyboard indicator and switcher
 gxkb is a little indicator applet which allows one to quickly
 switch between different keyboard layouts in X. A flag
 corresponding to the country of the active layout is shown
 in the indicator area.
 .
 The applet is written in C and uses the GTK+ library and
 therefore does not depend on any GNOME components.

