Source: gxkb
Priority: optional
Section: x11
Maintainer: Dmitriy Poltavchenko <admin@linuxhub.ru>
Uploaders: Dmitriy Poltavchenko <admin@linuxhub.ru>
Build-Depends: debhelper (>= 9), libgtk2.0-dev, libxklavier-dev (>= 5.0), libwnck-dev, dh-autoreconf
Standards-Version: 3.9.8
Homepage: https://zen-tools.github.io/gxkb
Vcs-Git: https://github.com/zen-tools/gxkb.git
Vcs-Browser: https://github.com/zen-tools/gxkb

Package: gxkb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 keyboard indicator and switcher
 It shows a flag of current keyboard in a systray
 area and allows you to switch to another one.
 It's written in C and uses the GTK library (no GNOME is needed)
