[Desktop Entry]
Name=Gxkb
Comment=Keyboard  switcher
Comment[ru]= Переключатель раскладки
GenericName=Keyboard switcher
GenericName[ru]=Переключатель раскладки
Exec=gxkb
Icon=/usr/share/pixmaps/gxkb.xpm
Terminal=false
Type=Application
Categories=Application;Utility;
